main {
    background-color: var(--preto);
}

.banner {
    display: grid;
    gap: 1rem;
}

.banner a:nth-child(1) {
    grid-column: 1/3;
    grid-row: 2/4;
}

.banner a:nth-child(2) {
    grid-column: 3/3;
    grid-row: 2/4 ;
    justify-content: end;
}

.banner a:nth-child(3) {
    grid-column: 1/3;
    grid-row: 4/4;
}

.banner a:nth-child(4) {
    grid-column: 3/3;
    grid-row: 4/4;
}


.sobre-plataforma {
   color: var(--branco);
   font-family: var(--fonte-principal);
   text-align: center;

}

.texto__titulo {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2em;
}
.texto__paragrafo {
    display: flex;
    font-size: 1em;
    margin: 1em 0 ;
    
}

